:root {
  --cor-primaria: #d8363a;
  --cor-secundaria: #fa7414;
}

label {
  font-size: 20px;
}

.title-logo {
  font-size: 26px;
  color: var(--cor-primaria);
}

.bg-primaria {
  background-color: var(--cor-primaria);
}

.border-primaria {
  border-bottom: 1px solid var(--cor-primaria);
}

.font-color-primaria {
  color: var(--cor-primaria) !important;
}

.font-color-primaria:hover {
  color: #c12024 !important;
  transition: 0.5s;
}

.btn-cor-primaria:hover {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
  color: white;
}

.btn-cor-primaria {
  border-color: var(--cor-primaria);
  background-color: white;
  color: var(--cor-primaria);
  transition: 0.5s;
}

.btn-cor-secundaria {
  background-color: var(--cor-secundaria);
}

.bg-radial {
  background-image: radial-gradient(var(--cor-secundaria), var(--cor-primaria));
}

@media (min-width: 768px) {
  .form-login {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .bg-radial {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}